.page-wrapper {
  padding: 0 50px;
}
.page-wrapper-content {
  min-height: 600px;
  padding: 24px;
  background-color: #fff;
}

.page-wrapper-inner-fluid {
  width: 90%;
  margin: auto;
}
.page-wrapper-inner-contained {
  width: 50%;
}

.page-wrapper-inner {
  margin: auto;
  margin-top: 20px;
}

.page-wrapper-title {
  margin-bottom: 5px !important;
}

.page-wrapper-alert {
  margin-top: 10px;
}

.page-wrapper-loader {
  margin-top: 50px;
}

.page-wrapper-no-content {
  margin-top: 50px;
  max-width: 350px;
}
.page-wrapper-crumbs {
  margin: 16px 0;
  .active {
    font-weight: bold;
  }
}
