

.jobActions {
  display: flex;
  justify-content: space-between;
}

.tableWrapper {
  margin-top: 3em;;
}

.envVariables{
  margin-top: 50px;
}

.textLeft{
  text-align: left;
}

.generalSettings{
  width: 60%;
  margin: auto;
  margin-top: 20px;
}