.pat-section {
  margin-left: 40px;
  margin-right: 100px;
  padding-bottom: 100px;
  .title {
    margin-bottom: 5px;
  }
  .alert {
    margin-top: 10px;
  }
  .loader {
    margin-top: 50px;
  }
  .no-content {
    margin-top: 50px;
    max-width: 350px;
  }
  .delete-button {
    margin-left: 20px;
  }
}
