.organization-picker-page {
  min-height: 600px;
  padding: 24px;
  background-color: #fff;
}

.organization-picker-page-inner {
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.organization-picker-page-title {
  margin-bottom: 5px !important;
}

.organization-picker-page-alert {
  margin-top: 10px;
}

.organization-picker-page-loader {
  margin-top: 50px;
}

.organization-picker-page-no-content {
  margin-top: 50px;
  max-width: 350px;
}
