name: Build Terrakube UI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ opened, synchronize, reopened ]

jobs:
  buildui:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./ui

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: ui/package.json
        
    - run: yarn install --frozen-lockfile
    - run: npm run build --if-present
      env:
         CI: false
